@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");

@font-face {
  font-family: "SF Mono";
  src: url("../public/fonts/SF-Mono.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Bioliquid";
  src: url("../public/fonts/Bioliquid.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Spotnik";
  src: url("../public/fonts/Spotnik.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Spotnik";
  font-size: 22px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 4px !important;
  color: black !important;
  background-image: linear-gradient(
    135deg,
    rgb(42, 34, 32) 0%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh !important;
}

span {
  font-size: 13px;
  font-weight: 800;
}

.mono {
  font-size: 14px;
  font-weight: 600;
  font-family: "SF Mono";
  color: lightgreen;
  cursor: copy;
}

.heading {
  background-image: url("/shadow.svg");
  background-size: 2.5%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 10%;
}

@media screen and (max-width: 1300px) {
  .heading {
    background-size: 0%;
  }
}

.heading-alt {
  background-image: url("/shadow.svg");
  background-size: 4%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 4.5%;
}

@media screen and (max-width: 1300px) {
  .heading-alt {
    background-size: 0%;
  }
}

.iekbcc0 {
  max-width: 197.5vw;
}

.ju367veu {
  color: white !important;
}

.page {
  max-width: 100vw !important;
  height: auto;
  border-radius: 4px;
  overflow-x: hidden;
  position: relative;
}

.micon {
  font-size: 24px;
}

.logo {
  width: 7.5%;
}

.logo-2 {
  width: 7.5%;
}

.avatar {
  width: 35%;
}

@media screen and (max-width: 700px) {
  .logo {
    width: 0%;
  }

  .avatar {
    width: 35%;
  }
}

.container {
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px 20px;
  background: transparent;
  animation: gradient 7s ease infinite;
  background-size: 400% 400%;
  border: 0px solid #646464;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 0 0 0;
  }
}

input[type="text"].input-main[type="text"] {
  font-family: "Spotnik";
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  outline: none;
  border: none;
  width: 100%;
}

@media screen and (max-width: 800px) {
  input[type="text"].input-main[type="text"] {
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

input[type="text"] {
  font-family: "SF Mono";
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: black;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  outline: none;
  border: none;
}

input[type="text"]:disabled {
  color: rgb(255, 255, 255);
}

input[type="text"]::placeholder {
  color: rgb(255, 255, 255, 0.75);
}

.inputextra::placeholder {
  color: rgb(144, 238, 144, 0.6);
}

.inputextra_::placeholder {
  color: rgb(255, 255, 255, 0.7);
}

.inputextra__::placeholder {
  color: rgba(255, 251, 0, 0.7);
}

.inputextra___::placeholder {
  color: rgba(255, 111, 67, 0.5);
}

.icon-ens {
  align-items: center;
  justify-content: center;
  width: 80.55px;
  height: 90px;
  margin-bottom: 8px;
}

@media screen and (max-width: 800px) {
  .icon-ens {
    margin-top: 10px;
    width: 71.6px;
    height: 80px;
  }
}

.icon-ccip2 {
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

@media screen and (max-width: 800px) {
  .icon-ccip2 {
    margin-top: 10px;
    width: 60px;
    height: 60px;
    margin-bottom: -7px;
  }
}

.icon-ens-small {
  align-items: center;
  justify-content: center;
  width: 16.66px;
  height: 18px;
  margin-bottom: -4px;
  margin-left: 13px;
}

.icon-vision-small {
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin-bottom: -4px;
  margin-left: 13px;
}

.icon-godid-small {
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-bottom: -6px;
  margin-left: 13px;
}

.icon {
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  margin-bottom: -1.5px;
}

/* Font sizes */
.miui {
  font-size: 100px;
}

.miui-small {
  font-size: 60px;
}

.miui-smaller {
  font-size: 40px;
}

.smol {
  font-size: 16px;
  margin-left: 5px;
  color: cyan;
}

.smoller {
  font-size: 18px;
}

.chonk {
  font-size: 20px;
}

/* Label style */
.label {
  font-family: "SF Mono";
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  cursor: pointer;
}

/* Names container */
.list-container {
  width: 40%;
  margin-left: 30%;
  border-radius: 5px;
  border: 0px solid rgba(255, 255, 255, 0.2);
  background: rgba(189, 117, 117, 0.15);
  padding: 25px 25px 25px 25px;
}

@media screen and (max-width: 800px) {
  .list-container {
    width: 99%;
    margin-left: 0.5%;
    padding: 15px 1px 15px 1px;
  }
}

/* Flexes */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column-sans-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row-sans-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-sans-direction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-sans-justify {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-column-align-left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.flex-row-sans-justify {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 220px;
  color: #fc6603;
  font-size: 30px;
  font-weight: 700;
}

.overlay-content-alt {
  margin-top: 220px;
}

.search-container {
  width: 30%;
  margin-left: 35%;
  border-radius: 5px;
  border: 0px solid rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(
    112deg,
    rgba(190, 95, 65, 0.2) 0%,
    rgba(191, 41, 36, 0.2) 48%,
    rgba(203, 111, 0, 0.2) 100%
  );
  padding: 25px 25px 25px 25px;
}

@media screen and (max-width: 800px) {
  .search-container {
    width: 90%;
    margin-left: 5%;
  }
}

.export-container {
  width: 30%;
  margin-left: 35%;
  border-radius: 5px;
  border: 0px solid rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(
    112deg,
    rgba(190, 95, 65, 0.2) 0%,
    rgba(191, 41, 36, 0.2) 48%,
    rgba(203, 111, 0, 0.2) 100%
  );
  padding: 25px 25px 25px 25px;
}

@media screen and (max-width: 800px) {
  .export-container {
    width: 90%;
    margin-left: 5%;
  }
}

.hash-container {
  width: 30%;
  margin-left: 35%;
  border-radius: 5px;
  border: 0px solid rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(
    112deg,
    rgba(190, 95, 65, 0.2) 0%,
    rgba(191, 41, 36, 0.2) 48%,
    rgba(203, 111, 0, 0.2) 100%
  );
  padding: 25px 25px 25px 25px;
}

@media screen and (max-width: 800px) {
  .hash-container {
    width: 90%;
    margin-left: 5%;
  }
}

.main-search-container {
  width: 40%;
  border-radius: 5px;
  border: 0px solid rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(
    112deg,
    rgba(190, 95, 65, 0.2) 0%,
    rgba(191, 41, 36, 0.2) 48%,
    rgba(203, 111, 0, 0.2) 100%
  );
  padding: 35px 35px 35px 35px;
}

@media screen and (max-width: 800px) {
  .main-search-container {
    width: 90%;
    margin-left: 5%;
  }
}

.button-empty {
  appearance: none;
  border: none;
  font-family: "Spotnik";
  background: transparent;
  font-size: 15px;
  font-weight: 800;
  height: 40px;
  padding: 0 0;
  border-radius: 0;
  align-items: left;
  color: cyan;
  transition: all ease 100ms;
}

.button-empty:disabled {
  background: rgb(255, 255, 255, 0.2);
  color: white;
  cursor: not-allowed;
}

.button-empty::after {
  content: attr(data-tooltip);
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  max-width: 250px;
  top: -40%;
  left: -25%;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: visible;
  opacity: 0;
  font-size: 10px;
  transition: opacity 0.2s ease-in-out;
}

.button-empty:hover::after {
  visibility: visible;
  opacity: 1;
}

.button {
  appearance: none;
  border: none;
  font-family: "Spotnik";
  background-image: linear-gradient(
    112deg,
    rgba(190, 95, 65, 1) 0%,
    rgba(191, 41, 36, 1) 48%,
    rgba(203, 111, 0, 1) 100%
  );
  font-size: 15px;
  font-weight: 800;
  height: 40px;
  padding: 1px 12px;
  border-radius: 6px;
  align-items: left;
  color: white;
  transition: all ease 100ms;
}

.button:disabled {
  background: rgb(255, 255, 255, 0.2);
  color: white;
  cursor: not-allowed;
}

.button::after {
  content: attr(data-tooltip);
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  top: -50%;
  left: 15%;
  max-width: 250px;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: visible;
  opacity: 0;
  font-size: 10px;
  transition: opacity 0.2s ease-in-out;
}

.button:hover::after {
  visibility: visible;
  opacity: 1;
}

.home-button {
  appearance: none;
  border: none;
  font-family: "Spotnik";
  background-image: linear-gradient(
    112deg,
    rgba(190, 95, 65, 1) 0%,
    rgba(191, 41, 36, 1) 48%,
    rgba(203, 111, 0, 1) 100%
  );
  font-size: 15px;
  font-weight: 800;
  height: 40px;
  padding: 1px 12px 1px 6px;
  border-radius: 6px;
  align-items: left;
  color: white;
  transition: all ease 100ms;
}

.home-button:disabled {
  background: rgb(255, 255, 255, 0.2);
  color: white;
  cursor: not-allowed;
}

.home-button::after {
  content: attr(data-tooltip);
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  top: -50%;
  left: -25%;
  max-width: 250px;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: visible;
  opacity: 0;
  font-size: 10px;
  transition: opacity 0.2s ease-in-out;
}

.home-button:hover::after {
  visibility: visible;
  opacity: 1;
}

.button-option {
  appearance: none;
  border: none;
  font-family: "Spotnik";
  background-image: linear-gradient(
    112deg,
    rgba(190, 95, 65, 1) 0%,
    rgba(191, 41, 36, 1) 48%,
    rgba(203, 111, 0, 1) 100%
  );
  font-size: 15px;
  font-weight: 800;
  height: 40px;
  padding: 1px 12px;
  border-radius: 6px;
  align-items: left;
  color: white;
  transition: all ease 100ms;
}

.button-option:disabled {
  background: rgb(255, 255, 255, 0.2);
  color: white;
  cursor: not-allowed;
}

.button-option::after {
  content: attr(data-tooltip);
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  top: -50%;
  left: 5%;
  max-width: 250px;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: visible;
  opacity: 0;
  font-size: 10px;
  transition: opacity 0.2s ease-in-out;
}

.button-option:hover::after {
  visibility: visible;
  opacity: 1;
}

.clear {
  color: white;
}

@media screen and (max-width: 800px) {
  .clear {
    display: none;
  }
}

.footer-text {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: -3px;
}

.footer-text:hover {
  color: cyan;
  background-color: transparent;
  cursor: pointer;
}

.button-header {
  appearance: none;
  border: none;
  font-family: "Spotnik";
  background-image: linear-gradient(
    112deg,
    rgba(190, 95, 65, 1) 0%,
    rgba(191, 41, 36, 1) 48%,
    rgba(203, 111, 0, 1) 100%
  );
  font-size: 15px;
  font-weight: 800;
  height: 40px;
  padding: 1px 12px;
  border-radius: 6px;
  align-items: left;
  color: white;
  transition: all ease 100ms;
  margin-left: 10px;
  margin-right: 10px;
}

.button-header:disabled {
  background-image: linear-gradient(
    112deg,
    rgba(190, 95, 65, 0.1) 0%,
    rgba(191, 41, 36, 0.1) 48%,
    rgba(203, 111, 0, 0.1) 100%
  );
}

.button-header::after {
  content: attr(data-tooltip);
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  top: -40%;
  left: 50%;
  max-width: 250px;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  font-size: 10px;
  transition: opacity 0.2s ease-in-out;
}

.button-header:hover::after {
  visibility: visible;
  opacity: 1;
}

.connect-button {
  margin-top: -10%;
  padding-right: 40px;
}

@media screen and (max-width: 800px) {
  .connect-button {
    margin-top: -18%;
    padding-right: 20px;
  }
}

.connect-button-2 {
  margin-top: -10%;
  padding-right: 40px;
}

@media screen and (max-width: 800px) {
  .connect-button-2 {
    margin-top: -18%;
    padding-right: 40px;
  }
}

.button-tiny {
  appearance: none;
  border: none;
  background: transparent;
  font-family: "Spotnik";
  font-size: 15px;
  font-weight: 800;
  padding: 1px 1px;
  border-radius: 6px;
  align-items: left;
  color: white;
  transition: all ease 100ms;
}

.button-tiny::after {
  content: attr(data-tooltip);
  background-color: black;
  color: white;
  border-radius: 2px;
  position: absolute;
  top: -65%;
  left: 110%;
  max-width: 250px;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  font-size: 10px;
  transition: opacity 0.2s ease-in-out;
}

.button-tiny:hover::after {
  visibility: visible;
  opacity: 1;
}

button:not(:disabled):hover {
  transform: scale(1.15);
}

h1 {
  font-family: "Spotnik" !important;
  font-size: 44px;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: "SF Mono" !important;
  font-size: 44px;
  font-weight: 800;
}

h4 {
  font-family: "Spotnik";
  font-size: 26px;
  font-weight: 800;
}

a:link {
  color: white;
  text-decoration: none;
  border-radius: 3px;
}

a:visited {
  color: white;
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 2px 5px;
  border-radius: 3px;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: "100%";
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.carousal-item {
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 6px;
  font-size: 30px;
  color: #eb8634;
  font-weight: 700;
  font-family: "Spotnik";
}

@media screen and (max-width: 800px) {
  .carousal-item {
    font-size: 20px;
    letter-spacing: 0px;
  }
}

/* Customize the label (the container) */

/* Hide the browser's default checkbox */

/* Create a custom checkbox */

/* On mouse-over, add a grey background color */

/* When the checkbox is checked, add a blue background */

/* Create the checkmark/indicator (hidden when not checked) */

/* Show the checkmark when checked */

/* Style the checkmark/indicator */

img {
  max-width: 100%;
  height: auto;
}

/*
--------------------------------------------------------------------------------
/*
/* Carousal Home */
.content-slider {
  margin-top: 50px;
  margin-bottom: 170px;
  height: 200px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slider {
  left: 50%;
  margin-left: -400px;
  height: 100%;
  overflow: visible;
  position: relative;
}

@media screen and (max-width: 800px) {
  .slider {
    margin-left: -200px;
  }
}

.mask {
  overflow: hidden;
  height: 100%;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 800px;
  height: 100%;
  position: absolute;
  top: -125px;
  list-style: none;
}

@media screen and (max-width: 800px) {
  .slider li {
    width: 400px;
  }
}

.slider:hover li {
  animation-play-state: paused;
}

.slider li.anim1 {
  animation: cycle 15s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 15s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 15s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 15s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 15s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }

  4% {
    top: 0px;
  }

  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  20% {
    top: 125px;
    opacity: 0;
    z-index: 0;
  }

  21% {
    top: -125px;
    opacity: 0;
    z-index: -1;
  }

  50% {
    top: -125px;
    opacity: 0;
    z-index: -1;
  }

  92% {
    top: -125px;
    opacity: 0;
    z-index: 0;
  }

  96% {
    top: -125px;
    opacity: 0;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -125px;
    opacity: 0;
  }

  16% {
    top: -125px;
    opacity: 0;
  }

  20% {
    top: 0px;
    opacity: 1;
  }

  24% {
    top: 0px;
    opacity: 1;
  }

  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  40% {
    top: 125px;
    opacity: 0;
    z-index: 0;
  }

  41% {
    top: -125px;
    opacity: 0;
    z-index: -1;
  }

  100% {
    top: -125px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -125px;
    opacity: 0;
  }

  36% {
    top: -125px;
    opacity: 0;
  }

  40% {
    top: 0px;
    opacity: 1;
  }

  44% {
    top: 0px;
    opacity: 1;
  }

  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  60% {
    top: 125px;
    opacity: 0;
    z-index: 0;
  }

  61% {
    top: -125px;
    opacity: 0;
    z-index: -1;
  }

  100% {
    top: -125px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -125px;
    opacity: 0;
  }

  56% {
    top: -125px;
    opacity: 0;
  }

  60% {
    top: 0px;
    opacity: 1;
  }

  64% {
    top: 0px;
    opacity: 1;
  }

  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  80% {
    top: 125px;
    opacity: 0;
    z-index: 0;
  }

  81% {
    top: -125px;
    opacity: 0;
    z-index: -1;
  }

  100% {
    top: -125px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -125px;
    opacity: 0;
  }

  76% {
    top: -125px;
    opacity: 0;
  }

  80% {
    top: 0px;
    opacity: 1;
  }

  84% {
    top: 0px;
    opacity: 1;
  }

  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  100% {
    top: 125px;
    opacity: 0;
    z-index: 0;
  }
}

/* Carousal Modal*/
:root {
  --cui-blue: #0d6efd;
  --cui-indigo: #6610f2;
  --cui-purple: #6f42c1;
  --cui-pink: #d63384;
  --cui-red: #dc3545;
  --cui-orange: #fd7e14;
  --cui-yellow: #ffc107;
  --cui-green: #198754;
  --cui-teal: #20c997;
  --cui-cyan: #0dcaf0;
  --cui-black: #000015;
  --cui-white: #fff;
  --cui-gray: #8a93a2;
  --cui-gray-dark: #636f83;
  --cui-gray-100: #ebedef;
  --cui-gray-200: #d8dbe0;
  --cui-gray-300: #c4c9d0;
  --cui-gray-400: #b1b7c1;
  --cui-gray-500: #9da5b1;
  --cui-gray-600: #8a93a2;
  --cui-gray-700: #768192;
  --cui-gray-800: #636f83;
  --cui-gray-900: #4f5d73;
  --cui-primary: #321fdb;
  --cui-secondary: #9da5b1;
  --cui-success: #2eb85c;
  --cui-info: #39f;
  --cui-warning: #f9b115;
  --cui-danger: #e55353;
  --cui-light: #ebedef;
  --cui-dark: #4f5d73;
  --cui-primary-rgb: 50, 31, 219;
  --cui-secondary-rgb: 157, 165, 177;
  --cui-success-rgb: 46, 184, 92;
  --cui-info-rgb: 51, 153, 255;
  --cui-warning-rgb: 249, 177, 21;
  --cui-danger-rgb: 229, 83, 83;
  --cui-light-rgb: 235, 237, 239;
  --cui-dark-rgb: 79, 93, 115;
  --cui-white-rgb: 255, 255, 255;
  --cui-black-rgb: 0, 0, 21;
  --cui-body-color-rgb: 44, 56, 74;
  --cui-body-bg-rgb: 255, 255, 255;
  --cui-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --cui-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --cui-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --cui-body-font-family: var(--cui-font-sans-serif);
  --cui-body-font-size: 1rem;
  --cui-body-font-weight: 400;
  --cui-body-line-height: 1.5;
  --cui-body-color: rgba(44, 56, 74, 0.95);
  --cui-body-bg: #fff;
  --cui-border-width: 1px;
  --cui-border-style: solid;
  --cui-border-color: #d8dbe0;
  --cui-border-color-translucent: rgba(0, 0, 21, 0.175);
  --cui-border-radius: 0.375rem;
  --cui-border-radius-sm: 0.25rem;
  --cui-border-radius-lg: 0.5rem;
  --cui-border-radius-xl: 1rem;
  --cui-border-radius-2xl: 2rem;
  --cui-border-radius-pill: 50rem;
  --cui-heading-color: unset;
  --cui-link-color: #321fdb;
  --cui-link-hover-color: #2819af;
  --cui-code-color: #d63384;
  --cui-highlight-bg: #fff3cd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul {
  margin-bottom: 0;
}

label {
  display: inline-block;
}

[list]:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not(
    [type="week"]
  ):not([type="time"])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type="button"],
[type="submit"] {
  appearance: button;
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  appearance: textfield;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  appearance: none;
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  appearance: button;
  -webkit-appearance: button;
}

::file-selector-button {
  font: inherit;
  appearance: button;
  -webkit-appearance: button;
}

[hidden] {
  display: none !important;
}

.row {
  --cui-gutter-x: 1.5rem;
  --cui-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--cui-gutter-y));
  margin-right: calc(-0.5 * var(--cui-gutter-x));
  margin-left: calc(-0.5 * var(--cui-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--cui-gutter-x) * 0.5);
  padding-left: calc(var(--cui-gutter-x) * 0.5);
  margin-top: var(--cui-gutter-y);
}

.badge {
  --cui-badge-padding-x: 0.65em;
  --cui-badge-padding-y: 0.35em;
  --cui-badge-font-size: 0.75em;
  --cui-badge-font-weight: 700;
  --cui-badge-color: rgba(255, 255, 255, 0.87);
  --cui-badge-border-radius: 0.375rem;
  display: inline-block;
  padding: var(--cui-badge-padding-y) var(--cui-badge-padding-x);
  font-size: var(--cui-badge-font-size);
  font-weight: var(--cui-badge-font-weight);
  line-height: 1;
  color: var(--cui-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--cui-badge-border-radius, 0);
}

.badge:empty {
  display: none;
}

@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

.modal .modal-inner {
  --cui-modal-zindex: 5;
  --cui-modal-width: 500px;
  --cui-modal-padding: 1rem;
  --cui-modal-margin: 0.5rem;
  --cui-modal-color: unset;
  --cui-modal-bg: #fff;
  --cui-modal-border-color: var(--cui-border-color-translucent);
  --cui-modal-border-width: 1px;
  --cui-modal-border-radius: 0.5rem;
  --cui-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 21, 0.075);
  --cui-modal-inner-border-radius: calc(0.5rem - 1px);
  --cui-modal-header-padding-x: 1rem;
  --cui-modal-header-padding-y: 1rem;
  --cui-modal-header-padding: 1rem 1rem;
  --cui-modal-header-border-color: var(--cui-border-color);
  --cui-modal-header-border-width: 1px;
  --cui-modal-title-line-height: 1.5;
  --cui-modal-footer-gap: 0.5rem;
  --cui-modal-footer-bg: ;
  --cui-modal-footer-border-color: var(--cui-border-color);
  --cui-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--cui-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

@media (min-width: 576px) {
  .modal .modal-inner {
    --cui-modal-margin: 1.75rem;
    --cui-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 21, 0.15);
  }
}

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */

@-webkit-keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
  }
}

@-webkit-keyframes spinner-grow {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: none;
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: none;
  }
}

.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: currentColor;
  opacity: 1;
}

@-webkit-keyframes placeholder-glow {
  50% {
    opacity: 0.2;
  }
}

@keyframes placeholder-glow {
  50% {
    opacity: 0.2;
  }
}

@-webkit-keyframes placeholder-wave {
  100% {
    -webkit-mask-position: -200% 0%;
    mask-position: -200% 0%;
  }
}

@keyframes placeholder-wave {
  100% {
    -webkit-mask-position: -200% 0%;
    mask-position: -200% 0%;
  }
}

.emphasis-smol {
  animation: blink-smol 3s linear infinite;
}

.emphasis-smol:hover {
  animation: none;
  transform: scale(1.5);
}

@keyframes blink-smol {
  0%,
  100% {
    opacity: 1;
    transform: scale(1.5);
  }

  25%,
  75% {
    opacity: 0.75;
    transform: scale(1.25);
  }

  50% {
    opacity: 0;
    transform: scale(1);
  }
}

.emphasis {
  animation: blink-guide 3s linear infinite;
}

.emphasis:hover {
  animation: none;
  transform: scale(1.5);
}

.pulse {
  animation: blinker 3s linear infinite;
}

.pulse:hover {
  animation: none;
  transform: scale(1.2);
}

@keyframes blink-guide {
  0%,
  100% {
    opacity: 1;
    filter: brightness(1.25);
    transform: scale(1.5);
  }

  25%,
  75% {
    opacity: 0.95;
    filter: brightness(1.1);
    transform: scale(1.375);
  }

  50% {
    opacity: 0.9;
    filter: brightness(1);
    transform: scale(1.25);
  }
}

.emphasis-large {
  animation: blink-guide-2 5s linear infinite;
}

.emphasis-large:hover {
  animation: none;
  transform: scale(2);
  filter: brightness(1.5);
}

@keyframes blink-guide-2 {
  0%,
  100% {
    opacity: 1;
    filter: brightness(1.5);
    transform: scale(2);
  }

  25%,
  75% {
    opacity: 0.95;
    filter: brightness(1.25);
    transform: scale(1.75);
  }

  50% {
    opacity: 0.9;
    filter: brightness(1);
    transform: scale(1.5);
  }
}

.blink {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.icon {
  display: inline-block;
  color: inherit;
  text-align: center;
  vertical-align: -0.125rem;
  fill: currentColor;
}

.icon:not(.icon-c-s):not(.icon-custom-size) {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}

.border {
  border: var(--cui-border-width) var(--cui-border-style)
    var(--cui-border-color) !important;
}

/* For Webkit browsers like Chrome and Safari */
.scrollable-div::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

.scrollable-div::-webkit-scrollbar-track {
  background: #f1f1f163;
  /* Color of the track */
}

.scrollable-div::-webkit-scrollbar-thumb {
  background: #ff8c56;
  /* Color of the thumb */
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: #ff8c56;
  /* Color of the thumb on hover */
}

/* For Firefox */
.scrollable-div {
  scrollbar-width: thin;
  /* "auto" or "thin"  */
  scrollbar-color: #ff5100 #f1f1f150;
  /* thumb and track color */
}
